body {
  background-color: #f0f0f0;
  font-family: 'Garamond', serif;
}

h1 {
  font-size: 36px;
  color: #660033;
  text-shadow: 2px 2px #ccc;
}

h2 {
  font-size: 24px;
  color: #990099;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #660033;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #660033;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}